farm.json
[
    {
        "id": "479fac97eae71a53",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d30f678d49783f6d",
        "type": "mqtt in",
        "z": "479fac97eae71a53",
        "name": "Temp",
        "topic": "farm/temp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "7f3eb1e5a30e42ae",
                "9684509944235b9d",
                "2bf58ca5c1d6f6ea"
            ]
        ]
    },
    {
        "id": "7f3eb1e5a30e42ae",
        "type": "ui_gauge",
        "z": "479fac97eae71a53",
        "name": "Nhiệt độ",
        "group": "farm_dashboard",
        "order": 1,
        "width": 13,
        "height": 6,
        "gtype": "gage",
        "title": "",
        "label": "Nhiệt độ (°C)",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#f4c10b",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "9684509944235b9d",
        "type": "ui_text",
        "z": "479fac97eae71a53",
        "group": "farm_dashboard",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Nhiệt độ hiện tại",
        "format": "{{msg.payload}} °C",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 420,
        "y": 140,
        "wires": []
    },
    {
        "id": "636b9f1d7e9de165",
        "type": "mqtt in",
        "z": "479fac97eae71a53",
        "name": "Độ ẩm không khí",
        "topic": "farm/hum",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "6190679a474442e1",
                "692cc9f831a7a6e3"
            ]
        ]
    },
    {
        "id": "6190679a474442e1",
        "type": "ui_gauge",
        "z": "479fac97eae71a53",
        "name": "Độ ẩm",
        "group": "farm_dashboard",
        "order": 5,
        "width": 13,
        "height": 6,
        "gtype": "gage",
        "title": "",
        "label": "Độ ẩm (%)",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "f6976ba8e5bc7a98",
        "type": "ui_chart",
        "z": "479fac97eae71a53",
        "name": "Biểu đồ độ ẩm",
        "group": "farm_dashboard",
        "order": 6,
        "width": 13,
        "height": 6,
        "label": "Độ ẩm theo thời gian",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Thời gian",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "100",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#5ab31e",
            "#6ff104",
            "#a0ff52",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7ccfdf1ec1a38678",
        "type": "mqtt in",
        "z": "479fac97eae71a53",
        "name": "Độ ẩm đất",
        "topic": "farm/soil",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "734f5e9f4c1134f0",
                "a323924e09eab132"
            ]
        ]
    },
    {
        "id": "734f5e9f4c1134f0",
        "type": "ui_gauge",
        "z": "479fac97eae71a53",
        "name": "Soil Moisture",
        "group": "farm_dashboard",
        "order": 7,
        "width": 13,
        "height": 7,
        "gtype": "gage",
        "title": "",
        "label": "Độ ẩm đất (%)",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "37b1e0086688b26f",
        "type": "ui_chart",
        "z": "479fac97eae71a53",
        "name": "Biểu đồ đất",
        "group": "farm_dashboard",
        "order": 8,
        "width": 13,
        "height": 7,
        "label": "Độ ẩm đất theo thời gian",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "120",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#5df91a",
            "#19861a",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "46c736e6f14e8c00",
        "type": "mqtt in",
        "z": "479fac97eae71a53",
        "name": "Ánh sáng",
        "topic": "farm/light",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 440,
        "wires": [
            [
                "5f29ef1c3695191b",
                "061ba39cfa276c06"
            ]
        ]
    },
    {
        "id": "5f29ef1c3695191b",
        "type": "ui_gauge",
        "z": "479fac97eae71a53",
        "name": "Light",
        "group": "farm_dashboard",
        "order": 14,
        "width": 13,
        "height": 6,
        "gtype": "gage",
        "title": "",
        "label": "Ánh sáng (lux)",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 380,
        "wires": []
    },
    {
        "id": "5519eff6c8cb33b0",
        "type": "ui_chart",
        "z": "479fac97eae71a53",
        "name": "Biểu đồ ánh sáng",
        "group": "farm_dashboard",
        "order": 15,
        "width": 13,
        "height": 6,
        "label": "Ánh sáng theo thời gian",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "120",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#9467bd",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "888b8247d92f75a3",
        "type": "mqtt in",
        "z": "479fac97eae71a53",
        "name": "Khí Gas (CO2)",
        "topic": "farm/gas",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 540,
        "wires": [
            [
                "5acf7afd7172ca81",
                "63a96824fbfd2180"
            ]
        ]
    },
    {
        "id": "5acf7afd7172ca81",
        "type": "ui_gauge",
        "z": "479fac97eae71a53",
        "name": "Gas",
        "group": "farm_dashboard",
        "order": 16,
        "width": 13,
        "height": 6,
        "gtype": "gage",
        "title": "",
        "label": "Nồng độ CO₂",
        "format": "{{value}} ppm",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 540,
        "wires": []
    },
    {
        "id": "862d6f3a4e16f975",
        "type": "ui_switch",
        "z": "479fac97eae71a53",
        "name": "Bơm",
        "label": "Bật/Tắt Bơm",
        "tooltip": "",
        "group": "farm_dashboard",
        "order": 9,
        "width": 11,
        "height": 3,
        "passthru": true,
        "decouple": "false",
        "topic": "farm/relay/pump",
        "topicType": "str",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "e1aaba79ffa4715a"
            ]
        ]
    },
    {
        "id": "e1aaba79ffa4715a",
        "type": "mqtt out",
        "z": "479fac97eae71a53",
        "name": "MQTT Pump",
        "topic": "farm/relay/pump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "3310d421db234e19",
        "type": "ui_switch",
        "z": "479fac97eae71a53",
        "name": "Quạt",
        "label": "Bật/Tắt Quạt",
        "tooltip": "",
        "group": "farm_dashboard",
        "order": 11,
        "width": 12,
        "height": 3,
        "passthru": true,
        "decouple": "false",
        "topic": "farm/relay/fan",
        "topicType": "str",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "51a3a9c3481bb7d5"
            ]
        ]
    },
    {
        "id": "51a3a9c3481bb7d5",
        "type": "mqtt out",
        "z": "479fac97eae71a53",
        "name": "MQTT Fan",
        "topic": "farm/relay/fan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 610,
        "y": 680,
        "wires": []
    },
    {
        "id": "692cc9f831a7a6e3",
        "type": "function",
        "z": "479fac97eae71a53",
        "name": "Convert Hum",
        "func": "msg.payload = parseFloat(msg.payload);\nmsg.topic = \"Độ ẩm\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 240,
        "wires": [
            [
                "f6976ba8e5bc7a98",
                "64cac86afac9fd2e"
            ]
        ]
    },
    {
        "id": "2bf58ca5c1d6f6ea",
        "type": "function",
        "z": "479fac97eae71a53",
        "name": "Convert Temp",
        "func": "msg.payload = Number(msg.payload);\nmsg.topic = \"Nhiệt độ\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 100,
        "wires": [
            [
                "741b1b0b626be09d",
                "bcc82b5dad2bce9d"
            ]
        ]
    },
    {
        "id": "741b1b0b626be09d",
        "type": "ui_chart",
        "z": "479fac97eae71a53",
        "name": "Biểu đồ nhiệt độ",
        "group": "farm_dashboard",
        "order": 2,
        "width": 13,
        "height": 6,
        "label": "Nhiệt độ theo thời gian",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "120",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "a323924e09eab132",
        "type": "function",
        "z": "479fac97eae71a53",
        "name": "Convert Hum Sand",
        "func": "msg.payload = Number(msg.payload);\nmsg.topic = \"Độ ẩm đất\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "37b1e0086688b26f",
                "950a4e4378a67d85"
            ]
        ]
    },
    {
        "id": "061ba39cfa276c06",
        "type": "function",
        "z": "479fac97eae71a53",
        "name": "Convert Light",
        "func": "msg.payload = Number(msg.payload);\nmsg.topic = \"Ánh Sáng\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 460,
        "wires": [
            [
                "5519eff6c8cb33b0"
            ]
        ]
    },
    {
        "id": "7dfa95565975d9b9",
        "type": "telegram sender",
        "z": "479fac97eae71a53",
        "name": "",
        "bot": "e8e5509398c7826a",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1030,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c6bb3991529893a9",
        "type": "telegram receiver",
        "z": "479fac97eae71a53",
        "name": "",
        "bot": "e8e5509398c7826a",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 1110,
        "y": 600,
        "wires": [
            [
                "2e8da040b764cc13"
            ],
            [
                "2e8da040b764cc13"
            ]
        ]
    },
    {
        "id": "2e8da040b764cc13",
        "type": "debug",
        "z": "479fac97eae71a53",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 780,
        "wires": []
    },
    {
        "id": "bcc82b5dad2bce9d",
        "type": "function",
        "z": "479fac97eae71a53",
        "name": "Alert Temp",
        "func": "let temp = msg.payload;\nlet limit = 40; \nif (temp > limit) {\n    msg.payload = `⚠️ Cảnh báo: Nhiệt độ cao (${temp}°C) vượt ngưỡng ${limit}°C`;\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 160,
        "wires": [
            [
                "74693a49f5d431c3"
            ]
        ]
    },
    {
        "id": "64cac86afac9fd2e",
        "type": "function",
        "z": "479fac97eae71a53",
        "name": "Alert Hum",
        "func": "let hum = msg.payload;\nlet limit = 30;\nif (hum < limit) {\n    msg.payload = `⚠️ Cảnh báo: Độ ẩm không khí thấp (${hum}%) dưới ngưỡng ${limit}%`;\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "74693a49f5d431c3"
            ]
        ]
    },
    {
        "id": "950a4e4378a67d85",
        "type": "function",
        "z": "479fac97eae71a53",
        "name": "Alert Soil",
        "func": "let soil = msg.payload;\nlet limit = 30;\nif (soil < limit) {\n    msg.payload = `⚠️ Cảnh báo: Độ ẩm đất thấp (${soil}%) dưới ngưỡng ${limit}%`;\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 380,
        "wires": [
            [
                "74693a49f5d431c3"
            ]
        ]
    },
    {
        "id": "63a96824fbfd2180",
        "type": "function",
        "z": "479fac97eae71a53",
        "name": "Convert CO2",
        "func": "msg.payload = Number(msg.payload);\nmsg.topic = \"Chất lượng không khí\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 580,
        "wires": [
            [
                "9313993b0a24fa96"
            ]
        ]
    },
    {
        "id": "9313993b0a24fa96",
        "type": "function",
        "z": "479fac97eae71a53",
        "name": "Alert CO2",
        "func": "let co2 = msg.payload;\nlet limit = 50;\nif (co2 > limit) {\n    msg.payload = `⚠️ Cảnh báo: Nồng độ CO₂ cao (${co2} ppm) vượt ngưỡng ${limit} ppm`;\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 520,
        "wires": [
            [
                "74693a49f5d431c3"
            ]
        ]
    },
    {
        "id": "4fde1d8517c1967f",
        "type": "inject",
        "z": "479fac97eae71a53",
        "name": "⚠️ Test cảnh báo nhiệt độ cao 40°C\"",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "⚠️ Test cảnh báo nhiệt độ cao 40°C\"",
        "payloadType": "str",
        "x": 760,
        "y": 560,
        "wires": [
            [
                "74693a49f5d431c3"
            ]
        ]
    },
    {
        "id": "74693a49f5d431c3",
        "type": "function",
        "z": "479fac97eae71a53",
        "name": "Add Chat ID",
        "func": "msg.payload = {\n    chatId: \"8253195967\", // thay bằng chat ID của bạn\n    type: \"message\",\n    content: msg.payload\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 540,
        "wires": [
            [
                "7dfa95565975d9b9"
            ]
        ]
    },
    {
        "id": "5f7fef1710e5f920",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 4,
        "width": 20,
        "height": 1
    },
    {
        "id": "4887e0722198356c",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "20f9751abe553bb5",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "f87fc21318ad5fd1",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "722d8b856a2ec0e8",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 17,
        "width": 13,
        "height": 1
    },
    {
        "id": "b623bcb97ab5ce62",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 18,
        "width": 13,
        "height": 1
    },
    {
        "id": "692bf7545c06eb03",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 19,
        "width": 13,
        "height": 1
    },
    {
        "id": "71bc9ee5c35bd3e5",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 20,
        "width": 13,
        "height": 1
    },
    {
        "id": "8faaf439d47459fb",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 21,
        "width": 13,
        "height": 1
    },
    {
        "id": "1e0d4e4032279708",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 22,
        "width": 13,
        "height": 1
    },
    {
        "id": "3ef11eaaf30f6cf6",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 24,
        "width": 8,
        "height": 1
    },
    {
        "id": "47796a65dc765711",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 25,
        "width": 8,
        "height": 1
    },
    {
        "id": "db2a79267dad5810",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 26,
        "width": 8,
        "height": 1
    },
    {
        "id": "d65070dddde35593",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 27,
        "width": 8,
        "height": 1
    },
    {
        "id": "f3c1f61d373851cf",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 28,
        "width": 8,
        "height": 1
    },
    {
        "id": "62dd497636c67cee",
        "type": "ui_spacer",
        "z": "479fac97eae71a53",
        "name": "spacer",
        "group": "farm_dashboard",
        "order": 29,
        "width": 8,
        "height": 1
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthQos": "0",
        "willQos": "0"
    },
    {
        "id": "farm_dashboard",
        "type": "ui_group",
        "name": "SmartFarm_DACS4_PVMT",
        "tab": "farm_tab",
        "order": 1,
        "disp": true,
        "width": 26,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8e5509398c7826a",
        "type": "telegram bot",
        "botname": "farm05_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "farm_tab",
        "type": "ui_tab",
        "name": "SmartFarm_DACS4_PVMT",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "942ae73d13b8c1d7",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-telegrambot": "16.4.0"
        }
    }
]